.navbar {
    background-color: #D3C3B9;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    border-radius: 50px;
    background-color: #AD6A6C;
    padding: 5px 10px;
}

.navbar a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navbar li a:hover {
    color: #AD6A6C;
    background-color: #FFFFFF;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(img/Rectorate_of_University_of_Padjadjaran.jpg);
    background-size: cover;
    background-position: 0 0;
}

form {
    display: flex;
}

.search-container button {
    margin: 0px auto;
    border: none;
    background-color: #AD6A6C;
    padding: 5px 20px;
    color: #FFFFFF;
    border-radius: 50px;
}

.center {}

.search-container {
    width: 50%;
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-container input[type=text] {
    width: 100%;
    padding-left: 10px;
    border-radius: 50px 0 0 50px;
    font-size: 17px;
    border: none;
    margin: 0px;
    outline: none;
}


/* Result */

.content-result .search-container {
    margin: auto;
}

.content-result {
    width: 100%;
    padding-top: 50px;
    min-height: 100vh;
    background-color: #C0B1A8;
    padding-bottom: 50px;
}

.content-result .result {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-result {
    width: 50%;
    border-radius: 40px;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

@media (max-width: 600px) {
    .search-container {
        width: 80%;
    }
}